In [14]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("dati-twitter-clean.tsv", sep="\t")
df.head()

,Unnamed: 0,id,date,lang,nil,longitude,latitude,text
0,3,6.051590e+17,2015-05-31T23:48:49.000Z,en,6,9.180157,45.453071,#streetart #street #streetphotography #tagsfor...
1,5,6.051556e+17,2015-05-31T23:35:07.000Z,en,50,9.164507,45.452522,friend want wish good night finished design ce...
2,13,6.051490e+17,2015-05-31T23:09:07.000Z,it,71,9.140991,45.490120,chicchefs #expodistelle buonanotte terrazza pi...
3,17,6.051485e+17,2015-05-31T23:06:57.000Z,en,36,9.205012,45.443858,kid candy shop wonder three us friends real
4,18,6.051484e+17,2015-05-31T23:06:25.000Z,it,71,9.140991,45.490120,chicchefs #expodistelle #unicomilano gigante p...

In [13]:
outDf = outDf[["longitude", "latitude"]]

In [16]:
outDf["class"] = np.random.choice(10, 1000)

In [17]:
outDf.to_csv("example_data.csv")

In [19]:
np.random.choice(["ciao", "1", "a", "b", "c", "d", "mamma"], 3, replace=False)

array(['a', 'd', 'ciao'], dtype='<U5')

In [21]:
words = ["ciao", "1", "a", "b", "c", "d", "mamma"]
out = {}
for topic in range(10):
    ws = np.random.choice(words, 3, replace=False)
    weights = np.random.sample(3)
    weights /= np.sum(weights)
    out[topic] = list(zip(ws, weights))

In [25]:
import json
with open("example_words.json", "w") as fp:
    json.dump(out[1], fp)